.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-inline-size: 543px;
  margin: 0 auto;
  padding-block-start: 40px;
  padding-block-end: 80px;
}

.form p {
  margin: 0;
  color: var(--white);

}

.form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font: var(--button);
}

.form input,
.form textarea {
  border: none;
  border-radius: 8px;
  padding-block-start: 12px;
  padding-block-end: 12px;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  font: var(--body1);
}

@media screen and (min-width: 768px) {
  .form {
    padding-block-start: 80px;
    padding-block-end: 80px;
  }
  .form .title {
    text-align: center;
    align-self: stretch;
  }

  .form p {
    text-align: center;
  }
}